

<div class="row-fluid">
    <div class="login-box">
        <h2>Create An Account</h2>

       <!-- FORM ERRORS -->
        <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
                <div class="alert alert-error">
                  <h2>Oh dear. Something isn't quite right...</h2>
                      <ul>
                        <% for message in @user.errors.full_messages %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                </div>
            <% end %>

      <!--SIGN-UP FORM -->

            <%= f.text_field :email, :class => 'input-large span12', :placeholder => :email %>
            <%= f.password_field :password, :class => 'input-large span12', :placeholder => 'password' %><br/>
            <%= f.password_field :password_confirmation, :class => 'input-large span12', :placeholder => 'confirm password' %> <br/>
            <%= f.submit 'Sign-up!', :class => 'btn btn-primary span12' %>

        <% end %>

      <!--END FORM -->

    </div>
</div>
