<h1>Create Your Account</h1>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
        </div>
    <% end %>


         <div>
           <%= f.label :email %>
           <%= f.text_field :email%>

            <%= f.label :password %>
            <%= f.password_field :password %><br/>

            <%= f.label 'Confirm Password' %>
            <%= f.password_field :password_confirmation %> <br/>
         </div>

        <div class="actions">

          <%= f.submit 'Sign-up!', :class => 'btn btn-large btn-primary' %></div>

<% end %>
