<%- model_class = Product -%>
<div class="page-header">
  <h1><%= @product.name %></h1>
</div>

<div style="float: left" class=" ">
   <p></p>

</div>

<div style="display: block">
    <dl class="dl-horizontal" style="display: inline-block">
      <dt><strong><%= model_class.human_attribute_name(:id)%>:</strong></dt>
      <dd><%= @product.id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @product.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @product.description %></dd>
      <dt><strong><%= model_class.human_attribute_name(:price_in_cents) %>:</strong></dt>
      <dd><%= @product.formatted_price %></dd>

    </dl>
</div>


<div style="float: left; margin-left: 10px; display: inline-block;">
    <div class="form-actions">
      <%= link_to t('.back', :default => t('helpers.links.back')),
                  products_path, :class => 'btn'  %>
      <%= link_to t('.back', :default => t('helpers.links.back')),
                  products_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t('helpers.links.edit')),
                  edit_product_path(@product), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
                  product_path(@product),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>


  <div style="float: left; display: inline-block;">
    <%= render 'reviews/form' %>
  </div>
</div>
